@import "layout.css";
@import "counter.css";

/* Edit Employees Page */

.list-header, .list-row {
  display: grid;
  gap: 0.25em;
}

.list-employees {
  grid-template-columns: repeat(4, 1fr) 85px;
}

.list-qualifications {
  grid-template-columns: repeat(2, 1fr) 85px;
}

.list-certificates {
  grid-template-columns: repeat(3, 1fr) 85px;
}

.list-trainings {
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr 0.75fr 0.75fr 85px;
}

.list-header > div, label {
  font-weight: bold;
  color: #b5bd68;
}

.list-header {
  margin-bottom: 0.5em;
}

.list-row {
  padding: 0.2em;
  gap: 0.75em;
}

.list-row > input {
  width: 100%;
}

input, textarea, select, .button {
  border: none;
  outline: 1px solid #aaaaaa;
  background-color: transparent;
}

select {
  background-color: #272727;
}

input:disabled, textarea:disabled, select:disabled {
  outline: none;
}

input:focus, textarea:focus, select:focus, .button:focus, .button:hover {
  outline: 2px solid #f0c674;
}

textarea {
  width: 30em;
  height: 10em;
}

.list-row:nth-child(2n+2):not(:last-child) {
  background-color: #171717;
}

.button {
  display: table;
  padding: 0.5em;
}

a.button:hover {
  text-decoration: none;
}

.icon {
  filter: invert(1);
  width: 16px;
  height: 16px;
}

.actions {
  justify-self: end;
  transition: all 0.25s ease;
}

label {
  display: block;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}

.alert-box-warning {
  margin: 1em 0;
  border: 1px solid #de935f;
  display: table;
  padding: 0.5em;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type="date"]:disabled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.flex-buttons {
  display: flex;
  gap: 1em;
}
