.box {
  background-color: #272727;
  padding: 0.5em;
  box-shadow: 3px 3px 20px #000000;
}

header {
  grid-column: auto / span 2;
}

header .box {
  display: grid;
  grid-template-columns: 50fr 50fr;
}

header code {
  float: right;
  direction: rtl;
}

nav {
  display: grid;
  gap: 0.5em 0.5em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-current {
  font-weight: bold;
  color: #FF6188;
}

.nav-headline {
  font-size: 120%;
  margin-bottom: 0.5em;
  display: block;
}

* {
  color: #f7f7f7;
}

body {
  background-color: #121212;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5em 0.5em;
  max-width: 1400px;
  margin: auto;
  padding: 0.5em;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

a {
  text-decoration: none;
}

a:not(.nav-current):hover {
  text-decoration: underline;
  color: #a7a7a7;
}
