.box {
  background-color: #272727;
  padding: 0.75em;
  box-shadow: 3px 3px 20px #000000;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-left: 0.75em;
  padding: 0;
}

ul li {
  margin-bottom: 0.25em;
}

header {
  grid-column: auto / span 2;
}

header .box {
  display: grid;
  grid-template-columns: auto max-content;
}

header code {
  float: right;
  direction: rtl;
}

nav {
  display: grid;
  gap: 0.5em 0.5em;
  max-height: 0;
}

.nav-current {
  font-weight: bold;
  color: #FF6188;
}

.nav-headline {
  font-size: 120%;
  display: block;
}

.nav-headline:not(:last-child) {
  margin-bottom: 0.5em;
}

* {
  color: #f7f7f7;
}

body {
  background-color: #121212;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5em 0.5em;
  max-width: 1400px;
  margin: auto;
  padding: 0.5em;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

a {
  text-decoration: none;
}

a:not(.nav-current):hover {
  text-decoration: underline;
  color: #a7a7a7;
}

main .box {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

main h2 {
  margin: 0;
  margin-bottom: 0.5em;
}

main ul li {
  padding: 0.25em
}

.counter {
  font-weight: bold;
  color: #FF6188;
}



/* Edit Employees Page */

.list-header, .list-row {
  display: grid;
  gap: 0.25em;
}

.list-employees {
  grid-template-columns: repeat(4, 1fr) 85px;
}

.list-qualifications {
  grid-template-columns: repeat(2, 1fr) 85px;
}

.list-certificates {
  grid-template-columns: repeat(3, 1fr) 85px;
}

.list-trainings {
  grid-template-columns: 1.5fr 2fr 1fr 1fr 1fr 1fr 85px;
}

.list-header > div {
  font-weight: bold;
  color: #FF6188;
}

.list-header {
  margin-bottom: 0.5em;
}

.list-row {
  padding: 0.2em;
  transition: all 0.25s ease;
}

div.list-row.active input {
  background-color: #5f819d;
  border: 1px solid #aaaaaa;
}

.list-row:nth-child(2n+2):not(:last-child) {
  background-color: #171717;
}

input {
  border: 1px solid transparent;
  background-color: transparent;
}

.icon {
  filter: invert(1);
  width: 16px;
  height: 16px;
}

.actions {
  justify-self: end;
  transition: all 0.25s ease;
}

